<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>977475856968-o8pggevvqbk1no02b0e6vm16h0sff2ei.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.977475856968-o8pggevvqbk1no02b0e6vm16h0sff2ei</string>
	<key>API_KEY</key>
	<string>AIzaSyArx4Ly7q6Xt-ERlqumF9-tmkk3vU0A_NQ</string>
	<key>GCM_SENDER_ID</key>
	<string>977475856968</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.status</string>
	<key>PROJECT_ID</key>
	<string>status-database-c30b5</string>
	<key>STORAGE_BUCKET</key>
	<string>status-database-c30b5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:977475856968:ios:c84ebe475662b59014067d</string>
	<key>DATABASE_URL</key>
	<string>https://status-database-c30b5-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>